.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  user-select: none;
  pointer-events: none;
}