.textName {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.textInfo {
  color: var(--mantine-color-dimmed);
  font-size: 14px;
  text-align: center;
}

.textRole {
  color: var(--mantine-color-dimmed);
  font-weight: 1000;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.textRole::after {
  content: '·';
  margin-left: 5px;
}

.textRole::before {
  content: '·';
  margin-right: 5px;
}

.actionButton {
  min-width: calc(50% - 5px);
  width: calc(50% - 5px);
}