.home {
  width: calc(100vw - 20px);
  margin-left: 10px;
  box-shadow: 0 0 7px #5f5f5f3d;
  border-radius: var(--mantine-radius-sm);
  height: calc(100vh - 4.8rem);
  margin-top: 0.4rem;
  padding: 0 1rem;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .group-container {
    justify-content: center;
  }
}


.titlesWrapper {
  width: 50%;
  display: block;
}

@media (max-width: 62em) {
  .titlesWrapper {
    width: 100%;
  }
}