.integratorWrapper { 
  background-color: var(--mantine-color-blue-9);
  border-top: 1px solid var(--mantine-color-dark-4);
  border-left: 1px solid var(--mantine-color-dark-4);
  border-right: 1px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm) var(--mantine-radius-sm) 0 0;
  padding: var(--mantine-spacing-md);
  width: 400px;
  position: absolute;
  top: 100vh;
  right: 10px;
  height: 500px;
}

.paramsCard {
  width: 100%;
  background-color: var(--mantine-color-blue-8);
}