.actionsWrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

@media (max-width: 62em) {
  .actionsWrapper {
    margin-top: 0.5rem;
    width: 100%;
  }
  .actionsButtons {
    width: 100%;
    margin-top: 0.5rem;
    margin-top: 0rem;
  }
}

.actionsButtons {
  display: flex;
  gap: var(--mantine-spacing-xs);
}