.actionsWrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .actionsWrapper {
    margin-top: 0.5rem;
    width: 100%;
    justify-content: center; /* Centrar los botones en pantallas pequeñas */
  }
  .actionsButtons {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.actionsButtons {
  display: flex;
  gap: var(--mantine-spacing-xs);
}
