.root {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-6);
}

.item {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-6);
}

.itemActive {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-7);
}

.content {
  background-color: var(--mantine-color-dark-7);
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
}

.icon {
  width: 20px;
  height: 20px;
}